<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template::layout(~{::title}, null, ~{::body}, null, 'main-content', null, null)}">
<head>
    <title th:text="#{privacy.title}">Politique de confidentialité</title>
</head>
<body>
<div class="privacy-page">
    <h1 th:text="#{privacy.title}">Politique de confidentialité</h1>

    <th:block th:utext="${privacy}"></th:block>

    <p th:text="#{privacy.last-update(${#temporals.format(lastUpdate.atZone(T(java.time.ZoneOffset).UTC), #messages.msg('common.date-format'))}, ${#temporals.format(lastUpdate.atZone(T(java.time.ZoneOffset).UTC), #messages.msg('common.time-format'))})}">Dernière mise à jour: </p>
</div>
</body>
</html>
